<div class="slider-area slider-area-hp1 owl-carousel text-center">
    <div class="single-slide-item hp1-slider-bg1" data-dot="<img src='../../../assets/img/hp1-slider-small1.jpg' alt=''>">
        <div class="single-slide-item-table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1>Travel the world</h1>
                        <p>Writers and stars of Veep have responded incredulously to the news an Australian politician</p>
                        <a href="tours.html" class="pink-btn">View All Tours</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-slide-item hp1-slider-bg2" data-dot="<img src='../assets/img/hp1-slider-small2.jpg' alt=''>">
        <div class="single-slide-item-table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1>Travel the world</h1>
                        <p>Writers and stars of Veep have responded incredulously to the news an Australian politician</p>
                        <a href="tours.html" class="pink-btn">View All Tours</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-slide-item hp1-slider-bg3" data-dot="<img src='../assets/img/hp1-slider-small3.jpg' alt=''>">
        <div class="single-slide-item-table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1>Travel the world</h1>
                        <p>Writers and stars of Veep have responded incredulously to the news an Australian politician</p>
                        <a href="tours.html" class="pink-btn">View All Tours</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>