
@{
    ViewBag.Title = "Tours";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "page-welcome-area";
    ViewBag.BannerText = "Tours";
    ViewBag.BannerImage = "../assets/img/page-title-bg.jpg";
}

@section Section{
    @Html.Partial("_PageBanner")
}

<div class="destinations-page-content-area section-padding">
    <div class="sea-tours-columns padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-sea-tours-item">
                        <div class="single-sea-tours-image single-sea-tours-image1 black-overlay ">
                            <a href="#" class="pink-btn">$1500</a>
                            <h2>South America</h2>
                        </div>
                        <div class="single-sea-tours-text">
                            <h5>South America - 5 Days in Lake Tahoe</h5>
                            <span class="post-day-count">
                                <a href="#"><i class="zmdi zmdi-time"></i> 5 Days</a>
                            </span>
                            <span class="post-review-stars">
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                            </span>
                            <span class="post-review-count"><a href="#">(5 Reviews)</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-sea-tours-item">
                        <div class="single-sea-tours-image single-sea-tours-image2 black-overlay">
                            <a href="#" class="pink-btn">$1500</a>
                            <h2>South America</h2>
                        </div>
                        <div class="single-sea-tours-text">
                            <h5>South America - 5 Days in Lake Tahoe</h5>
                            <span class="post-day-count">
                                <a href="#"><i class="zmdi zmdi-time"></i> 5 Days</a>
                            </span>
                            <span class="post-review-stars">
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                            </span>
                            <span class="post-review-count"><a href="#">(5 Reviews)</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-sea-tours-item">
                        <div class="single-sea-tours-image single-sea-tours-image3 black-overlay">
                            <a href="#" class="pink-btn">$1500</a>
                            <h2>South America</h2>
                        </div>
                        <div class="single-sea-tours-text">
                            <h5>South America - 5 Days in Lake Tahoe</h5>
                            <span class="post-day-count">
                                <a href="#"><i class="zmdi zmdi-time"></i> 5 Days</a>
                            </span>
                            <span class="post-review-stars">
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                            </span>
                            <span class="post-review-count"><a href="#">(5 Reviews)</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sea-tours-columns padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-sea-tours-item">
                        <div class="single-sea-tours-image single-sea-tours-image1 black-overlay ">
                            <a href="#" class="pink-btn">$1500</a>
                            <h2>South America</h2>
                        </div>
                        <div class="single-sea-tours-text">
                            <h5>South America - 5 Days in Lake Tahoe</h5>
                            <span class="post-day-count">
                                <a href="#"><i class="zmdi zmdi-time"></i> 5 Days</a>
                            </span>
                            <span class="post-review-stars">
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                            </span>
                            <span class="post-review-count"><a href="#">(5 Reviews)</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-sea-tours-item">
                        <div class="single-sea-tours-image single-sea-tours-image2 black-overlay">
                            <a href="#" class="pink-btn">$1500</a>
                            <h2>South America</h2>
                        </div>
                        <div class="single-sea-tours-text">
                            <h5>South America - 5 Days in Lake Tahoe</h5>
                            <span class="post-day-count">
                                <a href="#"><i class="zmdi zmdi-time"></i> 5 Days</a>
                            </span>
                            <span class="post-review-stars">
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                            </span>
                            <span class="post-review-count"><a href="#">(5 Reviews)</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-sea-tours-item">
                        <div class="single-sea-tours-image single-sea-tours-image3 black-overlay">
                            <a href="#" class="pink-btn">$1500</a>
                            <h2>South America</h2>
                        </div>
                        <div class="single-sea-tours-text">
                            <h5>South America - 5 Days in Lake Tahoe</h5>
                            <span class="post-day-count">
                                <a href="#"><i class="zmdi zmdi-time"></i> 5 Days</a>
                            </span>
                            <span class="post-review-stars">
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                            </span>
                            <span class="post-review-count"><a href="#">(5 Reviews)</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sea-tours-columns">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-sea-tours-item">
                        <div class="single-sea-tours-image single-sea-tours-image1 black-overlay ">
                            <a href="#" class="pink-btn">$1500</a>
                            <h2>South America</h2>
                        </div>
                        <div class="single-sea-tours-text">
                            <h5>South America - 5 Days in Lake Tahoe</h5>
                            <span class="post-day-count">
                                <a href="#"><i class="zmdi zmdi-time"></i> 5 Days</a>
                            </span>
                            <span class="post-review-stars">
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                            </span>
                            <span class="post-review-count"><a href="#">(5 Reviews)</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-sea-tours-item">
                        <div class="single-sea-tours-image single-sea-tours-image2 black-overlay">
                            <a href="#" class="pink-btn">$1500</a>
                            <h2>South America</h2>
                        </div>
                        <div class="single-sea-tours-text">
                            <h5>South America - 5 Days in Lake Tahoe</h5>
                            <span class="post-day-count">
                                <a href="#"><i class="zmdi zmdi-time"></i> 5 Days</a>
                            </span>
                            <span class="post-review-stars">
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                            </span>
                            <span class="post-review-count"><a href="#">(5 Reviews)</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-sea-tours-item">
                        <div class="single-sea-tours-image single-sea-tours-image3 black-overlay">
                            <a href="#" class="pink-btn">$1500</a>
                            <h2>South America</h2>
                        </div>
                        <div class="single-sea-tours-text">
                            <h5>South America - 5 Days in Lake Tahoe</h5>
                            <span class="post-day-count">
                                <a href="#"><i class="zmdi zmdi-time"></i> 5 Days</a>
                            </span>
                            <span class="post-review-stars">
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                            </span>
                            <span class="post-review-count"><a href="#">(5 Reviews)</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

